footer{
  margin-top: 50px;
  width: 100%;
  min-height: 200px;
  height: auto;
  background-color: #1e2024;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  height: 100%
}

.footer-gauche{
  flex: 1 0 50%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-droite{
  flex: 1 0 50%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 40px;
}

.mention-legal {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.mention-legal li,
.mention-legal a{
  color: white;
}

.mention-legal li{
  list-style-type: none;
}