@charset "UTF-8";@import "https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap";.wallet__item::before,.create__item::before,.create__preview .nft__box::before,.app__wrapper::before,.subscribe__wrapper::before,.features__item::before,.collection__item::before,.bid__item::before,.seller__item::after,.seller__item::before {
  position: absolute;
  content: ""
}

*{
  scroll-behavior: smooth;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* Présentation du site | Acceuil premier plan */

.presentation{
}

.presentation-container{
  background-color: #2F2FA2;
  display: flex;
}

.presentation-gauche{
  flex: 1 0 60%;
  min-height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.presentation-droite{
  flex: 1 0 40%;
  min-height: 100%;
  display: flex;
  justify-content: start;
  margin-top: 130px;
  color: white;
}

.presentation-gauche img{
  max-width: 70%;
}

/* wave container avec le titre de service proposé */

.wave-container{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end;
}

.wave-container img{
  margin-top: -1px;
}

.wave-container h2{
  position: absolute;
  padding-right: 2%;
  font-size: clamp(1rem, 0.5962rem + 1.7949vw, 2.75rem);
}

/* service proposé */

.service{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.service-container{
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  text-align: center;
  border-radius: 32px;
  border: solid 2px black;
}

.service-container a{
  color: white;
  text-decoration: none;
  background-color: black;
  border-radius: 12px;
  padding: 10px;
}

.service-container hr{
  width: 90%;
  height: 2px;
  border-radius: 20px;
  background-color: grey;
}

.service-container img{
  width: 95%;
}

/* Portfolio */

.portfolio{
  color: black;
  background-color: #e9ecf5;
  margin-top: 75px;
}

.portfolio h2{
  padding: 50px;
  font-size: clamp(1rem, 0.5962rem + 1.7949vw, 2.75rem);
}

.portfolio-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  margin: 0px 3%;
  gap: 40px;
}

.portfolio-box{
  text-decoration: none;
  color: black;
  width: 450px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
  border-radius: 16px;
  padding: 20px 0px;
}

.portfolio-box-titre{
  text-align: start;
}

.portfolio img{
  width: 100%;
}

.portfolio-box-description{
  text-align: start;
}

/* Contact */

.contact{
  margin-top: 100px;
}

.contact-titre{
  font-size: 30px;
}

.contact-container{
  display: flex;
}

.contact-gauche{
  flex: 1 0 50%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-info{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contact-info-box{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-info-box img{
  width: 40px;
}

.contact-droite{
  flex: 1 0 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-devis-box{
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 0px;
}

/* Input */

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  z-index: -1;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  margin-top: -12px
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.form__group {
  width: 100%;
  padding: 15px 0 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__group a{
  width: max-content;
  background-color: black;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
